:root {
  --color--copy-bright: #EDB623;
  --font-family--geist: Geist, sans-serif;
  --color--copy-dark: #000;
  --heading--h1: 5rem;
  --heading--h2: 4rem;
  --heading--h3: 3rem;
  --heading--h4: 2rem;
  --heading--h5: 1.4rem;
  --heading--h6: 1.1rem;
  --spacing--sm: 2.25rem;
  --color--divider-grey\<deleted\|variable-9956ef44-55fe-a8dc-bc68-6dccf8e2e07c\>: #b4b4b4;
  --color--white: white;
  --text-size--medium: 1.25rem;
  --container--medium: 80rem;
  --color--transparent: transparent;
  --border-radius--rounded: 999rem;
  --spacing--xl: 7.5rem;
  --spacing--xs: .8rem;
  --text-size--large: 1.5rem;
  --container--large: 100rem;
  --container--small: 60rem;
  --page-padding--desktop: 4rem;
  --page-padding--tablet: 6vw;
  --color--copy-grey: #757575;
  --spacing--xxs: .5rem;
  --spacing--md: 4.5rem;
  --text-size--small: 1.1rem;
  --text-size--tiny: .9rem;
  --color--accent-color: #fc762d;
  --border-radius--small: .75rem;
  --border-radius--medium: 2.5rem;
  --color--background-dark-1: var(--color--copy-dark);
  --container--tiny: 32rem;
  --x: var(--color--copy-bright);
}

* {
  margin: 0;
  padding: 0;
}
.wrapper {
  height: 100%;
  width: 90%;
  position: absolute;
}
.wrapper h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size: 40px;
  font-weight: 888;
}
.wrapper div {
  height: 60px;
  width: 60px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;
}
div .dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 20%;
}
.wrapper div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.wrapper div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.wrapper div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  20% {
    transform: scale(0.6) translateY(0) rotate(70deg);
  }

  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}




.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  background-color: var(--color--copy-bright);
  font-family: var(--font-family--geist);
  color: var(--color--copy-dark);
  font-size: 1rem;
  line-height: 1;
}

h1 {
  font-size: var(--heading--h1);
  letter-spacing: -.01em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1;
}

h2 {
  font-size: var(--heading--h2);
  letter-spacing: -.01em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1;
}

h3 {
  font-size: var(--heading--h3);
  letter-spacing: -.005em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.1;
}

h4 {
  font-size: var(--heading--h4);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.2;
}

h5 {
  font-size: var(--heading--h5);
  letter-spacing: .02em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.05;
}

h6 {
  font-size: var(--heading--h6);
  letter-spacing: .02em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.1;
}

p {
  margin-bottom: 0;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: underline;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2.5rem;
  line-height: 1.4;
}

ol {
  margin-top: var(--spacing--sm);
  margin-bottom: var(--spacing--sm);
  padding-left: 2.5rem;
  line-height: 1.4;
}

label {
  margin-bottom: .3rem;
  display: block;
}

blockquote {
  border-left: 5px solid var(--color--divider-grey\<deleted\|variable-9956ef44-55fe-a8dc-bc68-6dccf8e2e07c\>);
  margin-bottom: 0;
  padding: .6rem 1.2rem;
  line-height: 1.4;
}

figure {
  margin-bottom: 10px;
}

.form-input {
  background-color: rgba(0, 0, 0, 0);
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.heading-style-h6 {
  font-size: var(--heading--h6);
  letter-spacing: .02em;
  font-weight: 500;
  line-height: 1.1;
}

.heading-style-h6.x {
  color: var(--color--white);
  font-size: var(--heading--h5);
}

.heading-style-h6.x.y {
  color: var(--color--copy-bright);
  font-size: var(--heading--h4);
  margin-top: 9px;
  font-weight: 900;
}

.copy-medium {
  font-size: var(--text-size--medium);
  line-height: 1.4;
}

.heading-style-h2 {
  font-size: var(--heading--h2);
  letter-spacing: -.01em;
  text-transform: none;
  line-height: 1;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.container-medium {
  max-width: var(--container--medium);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.button {
  border: .15em solid var(--color--transparent);
  border-radius: var(--border-radius--rounded);
  background-color: var(--color--copy-dark);
  color: var(--color--copy-bright);
  text-align: center;
  letter-spacing: .03rem;
  padding: 1.2rem 1.7rem;
  font-size: 1rem;
  font-weight: 600;
}

.button.is-large {
  padding: 1.5rem 2.5rem;
  font-size: 1.2rem;
}

.button.is-secondary {
  background-color: var(--color--transparent);
  color: var(--color--copy-dark);
}

.button.is-bright {
  background-color: var(--color--copy-bright);
  color: var(--color--copy-dark);
}

.button.is-bright.is-secondary {
  border-color: var(--color--copy-bright);
  background-color: var(--color--transparent);
  color: var(--color--copy-bright);
  font-size: 1rem;
}

.button.is-bright.is-secondary.is-large {
  color: var(--color--copy-bright);
  cursor: pointer;
  margin: 5px;
}

.button.is-bright.is-secondary.is-large.buy {
  background-color: red;
  color: white;
  font-size: 2rem;
}

.spacer-xl-start {
  padding-top: var(--spacing--xl);
}

.spacer-xs-start {
  padding-top: var(--spacing--xs);
}

.spacer-sm-start {
  padding-top: var(--spacing--sm);
}

.copy-large {
  font-size: var(--text-size--large);
  line-height: 1.4;
}

.spacer-xs-end {
  padding-bottom: var(--spacing--xs);
}

#sub-title {
  font-size: 65px; 
}

.heading-style-h1 {
  color: var(--color--copy-bright);
  font-size: var(--heading--h1);
  letter-spacing: -.01em;
  word-break: break-word;
  padding-bottom: 50px;
  font-weight: 900;
  line-height: .85;
}

.text-align-center {
  text-align: center;
}

.container-large {
  max-width: var(--container--large);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-small {
  max-width: var(--container--small);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.spacer-sm-end {
  padding-bottom: var(--spacing--sm);
}

.page-padding {
  padding-right: var(--page-padding--desktop);
  padding-left: var(--page-padding--desktop);
}

.heading-style-h3 {
  color: var(--color--copy-bright);
  font-size: var(--heading--h5);
  letter-spacing: -.005em;
  text-transform: none;
  word-break: break-word;
  cursor: pointer;
  line-height: 1.1;
  text-decoration: underline;
}

.spacer-xl-end {
  padding-bottom: var(--spacing--xl);
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  padding-right: var(--page-padding--desktop);
  padding-left: var(--page-padding--desktop);
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 44rem;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.header-inner {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
}

.section-tutorial {
  flex-flow: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 15em;
  padding-bottom: 15em;
}

.intro-copy-text {
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.2em;
}

.video-preview-wrapper {
  aspect-ratio: 16 / 9;
  color: #fffdf6;
  background-color: #000;
  border-radius: 1em;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.youtube-play-icon {
  height: 3.9em;
  margin-right: -.2em;
}

.intro-content {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 88rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 7.5em;
  display: flex;
}

.header-button {
  text-align: center;
  letter-spacing: .08em;
  border-style: solid;
  border-width: 1px;
  border-radius: 999em;
  padding: 1.1em 2em 1em;
  font-size: .65em;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  transition: all .35s cubic-bezier(.165, .84, .44, 1);
  display: inline-block;
}

.header-button:hover {
  padding-left: 3.5em;
  padding-right: 3.5em;
}

.header-button.is-large {
  color: var(--color--copy-dark);
  font-size: 1em;
}

.copy-tiny-2 {
  font-size: .9rem;
  line-height: 1.4;
}

.meme {
  box-shadow: 0 2px 16px -6px var(--color--copy-dark);
  opacity: 1;
  object-fit: contain;
  border-radius: 1em;
  width: 100%;
  height: 100%;
  transition: transform .3s cubic-bezier(.165, .84, .44, 1);
}

.meme:hover {
  transform: scale(1.03);
}

.intro-title {
  font-size: 4em;
  line-height: .9;
}

.header-right {
  color: #757575;
}

.section-intro {
  position: relative;
}

.nav-main {
  z-index: 999;
  border-bottom: 1px solid var(--color--copy-grey);
  background-color: var(--color--transparent);
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.intro-pre-title {
  letter-spacing: .05em;
  font-size: 1.4em;
  line-height: .9;
}

.intro-pre-title.x {
  margin-top: 40px;
  margin-bottom: -8px;
}

.intro-pre-title.x.u {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 30px;
}

.intro-pre-title.x.u:hover {
  font-weight: 700;
}

.youtube-play-button {
  background-color: #e61313;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  width: 7em;
  padding-top: .4em;
  padding-bottom: .4em;
  font-size: 1.1em;
  display: flex;
  position: absolute;
  box-shadow: 0 .7rem 2.5rem rgba(0, 0, 0, .28);
}

.header-left {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  align-items: center;
  display: flex;
}

.section-page-intro {
  background-color: var(--color--copy-bright);
  justify-content: center;
  align-items: center;
  min-height: 200svh;
  overflow: clip;
}

.page-intro-content {
  z-index: 0;
  position: relative;
}

.page-intro-wrapper {
  z-index: 0;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.page-intro-title {
  letter-spacing: -.06em;
  font-size: 10vw;
  font-weight: 900;
  line-height: .8;
}

.page-intro-title.is-skills {
  margin-left: .89em;
}

.page-intro-title.is-webdesign {
  color: var(--color--copy-dark);
  margin-left: 1.16em;
}

.page-intro-title.is-animation {
  margin-left: 2em;
}

.page-intro-text-wrapper {
  grid-column-gap: 2vh;
  grid-row-gap: 2vh;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.page-intro-title-small {
  letter-spacing: -.02em;
  font-size: 1.5vw;
  font-weight: 400;
}

.page-intro-title-small.is-made-in-webflow {
  grid-column-gap: .8em;
  grid-row-gap: .8em;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-right: 5.6em;
  display: flex;
}

.page-intro-title-small.is-best-in-class {
  align-self: flex-start;
  margin-left: 7.9em;
}

.section-after-intro-text {
  z-index: 3;
  background-color: var(--color--copy-dark);
  color: var(--color--copy-bright);
  margin-top: 21vh;
  padding-bottom: 7.5em;
  position: relative;
}

.page-intro-title-wrapper {
  grid-column-gap: .5vh;
  grid-row-gap: .5vh;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.page-intro-splitscreen-wrapper {
  z-index: 1;
  pointer-events: none;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.page-intro-splitscreen-top, .page-intro-splitscreen-bottom {
  background-color: var(--color--copy-dark);
  width: 100%;
  height: 0%;
}

.made-in-webflow-brand {
  max-width: 2.3em;
}

.image-placeholder {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 1.8em;
  width: 100%;
}

.image {
  width: 100px;
  height: 100px;
}

.image-2 {
  height: 50px;
}

.chartbtngroup {
  justify-content: center;
  align-items: center;
  display: flex;
}

.buygroup {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  display: flex;
}

.bottom-footer {
  float: right;
  background-color: var(--color--copy-dark);
  border-top-left-radius: 12px;
  width: 90vw;
  padding: 30px 30px 20px;
}

.footer-link-dark {
  color: var(--color--white);
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Geist, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.line-break {
  background-color: var(--color--copy-bright);
  flex: 0 auto;
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.footer-block-left {
  flex: 1;
  width: auto;
  padding-right: 45px;
  position: relative;
}

.footer-column {
  flex-direction: column;
  align-items: flex-start;
  padding-right: 40px;
  display: flex;
}

.footer-block-right {
  flex: 1;
  width: auto;
  padding-bottom: 20px;
  padding-left: 45px;
}

.footer-wrapper-2 {
  align-items: center;
  display: flex;
}

.footer-bottom-full {
  border-style: solid none none;
  border-width: 1px;
  border-color: var(--color--copy-bright) black black;
  justify-content: space-between;
  padding-top: 20px;
  display: flex;
}

.grid-2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-brand {
  color: var(--color--copy-bright);
  background-color: rgba(0, 0, 0, 0);
  font-size: 3rem;
  font-weight: 900;
  word-break: break-word;

}

.secondary-link-dark {
  color: var(--color--copy-bright);
  margin-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Inconsolata, monospace;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.footer-flex-wrap {
  align-items: stretch;
  width: auto;
  height: 100%;
  display: flex;
}

.content-wrapper-footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer-title-2 {
  color: var(--color--copy-bright);
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 900;
}

.text-rights-2 {
  color: var(--color--copy-bright);
  margin-right: 32px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Geist, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  display: block;
}

.paragraph {
  color: var(--color--white);
  padding-top: 15px;
}

.memegrid {
  margin-top: 30px;
}

.div-block {
  background-color: #000;
  border-radius: 1em;
  width: 100%;
  padding-top: 7.5em;
  padding-bottom: 7.5em;
}

.toekgrid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}

.image-3 {
  flex: 0 auto;
  align-self: center;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.image-3.x {
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.link {
  cursor: pointer;
}

.paragraph-2 {
  color: rgba(0, 0, 0, .44);
  padding: 12px;
  font-size: 2rem;
  font-weight: 900;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

@media screen and (max-width: 991px) {
  .page-padding {
    padding-right: var(--page-padding--tablet);
    padding-left: var(--page-padding--tablet);
  }

  .header-inner {
    padding-top: 2em;
  }

  .header-button {
    font-size: 1em;
  }

  .header-button:hover {
    padding-left: 1.6em;
    padding-right: 1.6em;
  }

  .header-button:active {
    transform: scale(.94);
  }

  .page-intro-title-small, .page-intro-title-small.is-best-in-class {
    font-size: 2.5vw;
  }

  .image-2 {
    height: 30px;
  }

  .bottom-footer {
    width: 95vw;
  }

  .line-break {
    display: none;
  }

  .footer-block-left {
    border: 1px #000;
    border-bottom: 1px solid rgba(21, 28, 52, .09);
    width: 100%;
    margin-bottom: 20px;
    padding-right: 0;
  }

  .footer-column {
    padding-right: 20px;
  }

  .footer-block-right {
    width: 100%;
    padding-left: 0;
  }

  .footer-bottom-full {
    flex-direction: column;
  }

  .footer-brand {
    margin-bottom: 20px;
  }

  .footer-flex-wrap {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .paragraph {
    padding-top: 0;
    font-size: 1.2rem;
  }

  .memegrid {
    grid-template-columns: 1fr;
  }

  .paragraph-2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .heading-style-h1 {
    font-size: 3rem;
  }

  .header-inner {
    grid-column-gap: 1.3em;
    grid-row-gap: 1.3em;
    flex-flow: column;
    justify-content: center;
    padding-top: 4.5em;
  }

  .section-tutorial {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .intro-copy-text {
    padding-left: 0;
    padding-right: 0;
  }

  .intro-title {
    font-size: 2.8em;
  }

  .header-left {
    flex-wrap: wrap;
    justify-content: center;
  }

  .page-intro-title {
    font-size: 13vw;
  }

  .page-intro-title.is-skills, .page-intro-title.is-webdesign {
    margin-left: 0;
  }

  .page-intro-title.is-animation {
    flex: 1;
    margin-left: 0;
  }

  .page-intro-text-wrapper {
    margin-top: -4vh;
  }

  .page-intro-title-small {
    font-size: 2.6vw;
  }

  .page-intro-title-small.is-made-in-webflow {
    margin-right: 0;
  }

  .page-intro-title-small.is-best-in-class {
    margin-left: 0;
  }

  .bottom-footer {
    border-top-left-radius: 0;
    width: 100vw;
  }

  .footer-column {
    align-items: flex-start;
    padding-right: 0;
  }

  .footer-block-right {
    justify-content: flex-start;
    align-self: auto;
    display: block;
  }

  .footer-wrapper-2 {
    flex-direction: row;
  }

  .footer-bottom-full {
    flex-wrap: wrap;
  }

  .grid-2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: stretch;
    justify-items: stretch;
  }

  .footer-brand {
    word-break: break-word;
    font-size: 4em;
  }

  .text-rights-2 {
    word-break: break-word;
    margin-right: 0;
  }

  .toekgrid {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .header-button-wrapper, .header-button {
    width: 100%;
  }

  .header-left {
    font-size: .8em;
  }

  .page-intro-text-wrapper {
    margin-top: -3vh;
  }

  .chartbtngroup {
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .footer-link-dark {
    text-align: center;
    align-self: center;
    margin-right: 0;
  }

  .footer-column {
    text-align: center;
  }

  .footer-wrapper-2 {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer-wrapper-2.x {
    display: none;
  }

  .footer-bottom-full {
    text-align: center;
    flex-direction: column;
    margin-top: 0;
  }

  .grid-2 {
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    justify-items: stretch;
  }

  .footer-brand {
    text-align: center;
    word-break: break-word;
  }

  .secondary-link-dark {
    text-align: left;
    width: 100%;
  }

  .footer-title-2 {
    text-align: center;
    flex: 1;
    align-self: center;
  }

  .text-rights-2 {
    text-align: left;
    margin-right: 0;
    font-size: 14px;
  }

  .paragraph-2 {
    color: #000;
    text-align: center;
    width: 100%;
    font-size: .8rem;
    font-weight: 900;
  }
}

#w-node-f8512839-e1a6-770d-73f5-fa2396585c71-47047a67 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 479px) {
  #w-node-_1fdae1f4-28a4-4305-e862-42898a77489f-47047a67, #w-node-_1fdae1f4-28a4-4305-e862-42898a7748a8-47047a67 {
    align-self: auto;
    justify-self: center;
  }

  #w-node-_1fdae1f4-28a4-4305-e862-42898a7748b1-47047a67, #w-node-_9cf6f951-49f8-d86f-9963-2695a1e4b60c-47047a67 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: center;
  }
}


@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}